<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="acaea5">  <td>18/11/26 12:48:12</td>   <td>0</td> <td title="&gt;&gt;WebDriverFactory.extentSetup()[pri:0, instance:tests.selectall.TC_002@29ca901e]">&gt;&gt;extentSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@120694604</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>18/11/26 12:48:12</td>   <td>201</td> <td>&nbsp;</td><td title="&gt;&gt;WebDriverFactory.suiteSetup()[pri:0, instance:tests.selectall.TC_002@29ca901e]">&gt;&gt;suiteSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@120694604</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>18/11/26 12:48:16</td>   <td>4198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WebDriverFactory.beforeMethod(java.lang.reflect.Method)[pri:0, instance:tests.selectall.TC_002@29ca901e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@120694604</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>18/11/26 12:48:33</td>   <td>20301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_002.login()[pri:0, instance:tests.selectall.TC_002@29ca901e]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@120694604</td>   <td></td> </tr>
<tr bgcolor="b3acfe">  <td>18/11/26 12:48:38</td>   <td>25790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002.clickSelectAllAndDeselectSomeRecordsAndDownload()[pri:0, instance:tests.selectall.TC_002@29ca901e]">clickSelectAllAndDeselectSomeRecordsAndDownload</td> 
  <td>main@120694604</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>18/11/26 12:49:00</td>   <td>47500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;WebDriverFactory.afterMethod()[pri:0, instance:tests.selectall.TC_002@29ca901e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@120694604</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>18/11/26 12:49:19</td>   <td>66947</td> <td>&nbsp;</td><td title="&lt;&lt;BaseMethod.beforeSuite()[pri:0, instance:tests.selectall.TC_002@29ca901e]">&lt;&lt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@120694604</td>   <td></td> </tr>
<tr bgcolor="acaea5">  <td>18/11/26 12:49:19</td>   <td>66991</td> <td title="&lt;&lt;WebDriverFactory.afterSuite()[pri:0, instance:tests.selectall.TC_002@29ca901e]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@120694604</td>   <td></td> </tr>
</table>
